body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5),#009688),url(images/banner.jpg);
    margin: 0;
}

#admin-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
}
textarea{
    width: 200px;;
}
input{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    align-items: centers;
}

button {
    background-color: #009688;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00796b;
}

p {
    text-align: center;
}

a {
    color: #009688;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
